@font-face {
  font-family: "Chakra Petch";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/chakra-petch-light.ttf");
}

@font-face {
  font-family: "Chakra Petch";
  font-style: italic;
  font-weight: 300;
  src: url("/assets/fonts/chakra-petch-light-italic.ttf");
}

@font-face {
  font-family: "Chakra Petch";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/chakra-petch-regular.ttf");
}

@font-face {
  font-family: "Chakra Petch";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/chakra-petch-italic.ttf");
}

@font-face {
  font-family: "Chakra Petch";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/chakra-petch-medium.ttf");
}

@font-face {
  font-family: "Chakra Petch";
  font-style: italic;
  font-weight: 500;
  src: url("/assets/fonts/chakra-petch-medium-italic.ttf");
}

@font-face {
  font-family: "Chakra Petch";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/chakra-petch-semibold.ttf");
}

@font-face {
  font-family: "Chakra Petch";
  font-style: italic;
  font-weight: 600;
  src: url("/assets/fonts/chakra-petch-semibold-italic.ttf");
}

@font-face {
  font-family: "Chakra Petch";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/chakra-petch-bold.ttf");
}

@font-face {
  font-family: "Chakra Petch";
  font-style: italic;
  font-weight: 700;
  src: url("/assets/fonts/chakra-petch-bold-italic.ttf");
}
